# Copy to .env.development for local dev
VITE_PORT = 8848
VITE_PUBLIC_PATH = /
VITE_ROUTER_HISTORY = "hash"
VITE_SERVER_URL = "http://localhost:3000"
VITE_PROXY_TARGET = "http://localhost:3000"
VITE_USE_HTTPONLY_COOKIE=false
