{
  "*.{js,jsx,ts,tsx}": [
    "eslint --cache --fix",
    "oxfmt --write"
  ],
  "*.vue": [
    "eslint --cache --fix",
    "stylelint --fix --allow-empty-input",
    "oxfmt --write"
  ],
  "*.{css,scss,sass,html}": [
    "stylelint --fix --allow-empty-input",
    "oxfmt --write"
  ],
  "*.{json,code-snippets,md}": ["oxfmt --write"]
}
