:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.animate__animated,
.animated {
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}

@media (prefers-reduced-motion: reduce) {
  .animate__animated,
  .animated {
    transition-duration: 1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate__fade-in,
.fade-in {
  animation-name: fade-in;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animate__fade-out,
.fade-out {
  animation-name: fade-out;
}

@keyframes slide-in-right {
  from {
    visibility: visible;
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.animate__slide-in-right,
.slide-in-right {
  animation-name: slide-in-right;
}

@keyframes slide-in-left {
  from {
    visibility: visible;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.animate__slide-in-left,
.slide-in-left {
  animation-name: slide-in-left;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate__fade-in-up,
.fade-in-up {
  animation-name: fade-in-up;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate__fade-in-down,
.fade-in-down {
  animation-name: fade-in-down;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.animate__bounce-in,
.bounce-in {
  animation-name: bounce-in;
}
